body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #292828;
}

.sbackdesign {
    position: fixed;
    min-width: 120%;
    height: 45%;
    background: linear-gradient(272.96deg, rgba(249, 255, 0, 0.85) 1.98%, rgba(0, 235, 238, 0.85) 98.02%);
    top: 20%;
    transform: rotate(-30deg) scale(1.9);
}

.sleftdesign {
    position: fixed;
    width: 15%;
    height: 10px;
    background: linear-gradient(272.96deg, rgba(249, 255, 0, 0.85) 1.98%, rgba(0, 235, 238, 0.85) 98.02%);
    border-radius: 20px;
    left: 0%;
    top: 50%;
    transform: rotate(-30deg) scale(1.5);
}

.srightdesign {
    position: fixed;
    width: 10%;
    height: 7px;
    background: linear-gradient(272.96deg, rgba(249, 255, 0, 0.85) 1.98%, rgba(0, 235, 238, 0.85) 98.02%);
    border-radius: 20px;
    top: 60%;
    left: 85%;
    transform: rotate(-30deg) scale(2.5);
}

.slogo {
    position: fixed;
    top: 5%;
    left: 2%;
}

.slogo img {
    height: auto;
    width: 150px;
}

.scenter {
    width: 380px;
    height: 630px;
    background: #1d1b1b;
    border-radius: 25px;
    position: fixed;
    left: 35%;
    top: 10%;
}

.scenter h1 {
    text-align: center;
    padding: 60px 0 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 50px;
    color: #FFFFFF;
}

.scenter form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: lightgray;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 41px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: lightgray;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

input[type="submit"] {
    width: 60%;
    margin-left: 55px;
    height: 40px;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    background: linear-gradient(268.61deg, #F9FF00 -24.18%, #11CFC8 129.76%);
    cursor: pointer;
    border: none;
}

input[value="Sign up"] {
    font-size: 22px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #1d1b1b;
}

.sor {
    margin: 30px 0;
    text-align: center;
    color: lightgray;
    text-decoration: dashed;
}

.sor .lefts {
    float: left;
    width: 125px;
}

.sor .rights {
    float: right;
    width: 125px;
}

form .sgoogle-signup {
    padding: 0 0 50px 0;
    text-align: center;
    color: lightgray;
}

.sgoogle-signup a {
    color: lightgray;
    text-decoration: none;
}

.sgoogle-signup img {
    position: relative;
    top: 5px;
    left: 2px;
}

form .signup {
    margin: 50x 0;
    text-align: center;
    font-size: 12px;
    color: lightgray;
}

.signup a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}