.Selevents {
    position: relative;
    top: 220px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: white;
    /* overflow: hidden; */
    margin-bottom: 150px;
    z-index: 1;
}

.Selevents p {
    padding-left: 6%;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.serect {
    position: absolute;
    width: 170px;
    height: 2px;
    margin-left: 6%;
    top: 12%;
    background: linear-gradient(272.96deg, rgba(249, 255, 0, 0.85) 1.98%, rgba(0, 235, 238, 0.85) 98.02%);
    border-radius: 20px;
}

.Selevents-img {
    margin-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.seimage {
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: content-box;
    object-fit: scale-down;
}

.seimage:hover {
    cursor: pointer;
    transform: scale(1.1);
}