body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2B2B2B;
  overflow-x: hidden;
}

.backDesign{
  position: fixed;
  width: 1202.04px;
  height: 200.33px;
  background: linear-gradient(272.96deg, rgba(249, 255, 0, 0.85) 1.98%, rgba(0, 235, 238, 0.85) 98.02%);
  top: 61%;
  left: 829px;
  transform: rotate(-30deg);
  z-index: -1;
}
.leftDesign{
  position: fixed;
  width: 440px;
  height: 12px;
  left: 62%;
  background: linear-gradient(272.96deg, rgba(249, 255, 0, 0.85) 1.98%, rgba(0, 235, 238, 0.85) 98.02%);
  border-radius: 20px;
  top: 79%;
  transform: rotate(-30deg) scale(1.2);
  z-index: 0;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  position: relative;
  /* background-color: transparent; */
}

.container{
  width: 100%;
  height: 12vh;
  overflow: hidden;
  background: #2B2B2B;
}

.logo{
  padding-left: 6%;
  width: 90px;
  cursor: pointer;
  margin: 30px;
  /* background-color: transparent; */
}

nav{
  text-align: right;
  flex: 1;
  padding-left: 8%;
  padding-right: 8%;
  /* background-color: transparent; */

}

.navbar{
  background-image: linear-gradient(to right, rgb(0, 0, 0,1),rgb(0, 0, 0,0));
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.navele{
  display: inline-block;
  margin-right: 40px;
  color: white;
  text-decoration: none;
  font-size: 19px;
}

nav ul li a:hover{
  background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, #00EBEE), color-stop(1, #F9FF00));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.Banner{
  width: 100vw;
  height: 35vh;
  z-index: 1;
  position: relative;
}

.Banner img{
  width: 100%;
  height: 35vh;
  object-fit: cover;
  z-index: 1;
}

.container2{
  padding-left: 8%;
  padding-top: 2%;
  margin-top: 0.5vh;
  position: relative;
  padding-right: 6%;
  }

  .info{
    display: flex;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
    position: relative;
}

.clubName{
  width: auto;
  margin-left: 0px;
  background-color: transparent;
  color: white;
  font-size: 4vh;
  font-size: 26px;
  z-index: 1;
}

.enroll-btn{
  color: black;
  width: 100px;
  height: 30px;
  background: linear-gradient(to right,#F9FF00,#00EBEE);
  border-radius: 30px;
  margin-right: -8%;
  vertical-align: bottom;
  border: 0;
}

.enroll-btn:hover{
  /* color: white;
  background: transparent;
  box-shadow: 0px 0px 10px 5px rgb(153, 255, 0) ; */
  color: black;
  transition: 900ms;
  /* background-image: linear-gradient(to left,#F9FF00,#00EBEE); */
  background-image: linear-gradient(to left,#F9FF00,#00EBEE);
  box-shadow: 0px 0px 10px 5px rgb(153, 255, 0) ;

}

.enrolled-btn {
  color: black;
  width: 100px;
  height: 30px;
  background: linear-gradient(to right,#00EBEE,#ffffff);
  border-radius: 30px;
  margin-right: -8%;
  vertical-align: bottom;

}

.enrolled-btn:hover{
  /* color: black;
  background: transparent;
  box-shadow: 0px 0px 10px 5px rgb(153, 255, 0) ; */
  color: black;
  transition: 900ms;
  background-image: linear-gradient(to left,#00EBEE,#ffffff);
  box-shadow: 0px 0px 10px 5px #00EBEE ;
}




.divBar1
{
  background-image:linear-gradient(to right,#00EBEE,#F9FF00);
  margin-top: -1%;
  height: 1.5px;
  position: relative;
  z-index: 1;
}


.content{
  color: white;
  font-weight: 160;
  font-weight:bold ;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  position: relative;
  z-index: 1 ;
}

.container3{
  width: 100%;
  height: auto;
  background-color: transparent;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 8%;
  margin-top: 4%;
  margin-right: 8%;
}

.UE{
  color: white;
  margin-bottom: -0.8%;
  position: relative;
  z-index: 1;
  font-size: 2.5vh;
}

.divBar2
{
    background-image:linear-gradient(to right,#00EBEE,#F9FF00);
    margin-right: 14%; 
    margin-bottom: 3%;
    height: 1.5px;
    margin-bottom: 2%;
    z-index: 1;
    position: relative;
}

.card1{
  background-image: linear-gradient(to bottom,#5C5C5C,rgba(255, 255, 255, 0)) ;
  height: 12vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1%;
  padding-left: 3%;
  margin-top: 1%;
  margin-right: 14%;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 5px 14px rgba(0,0,0,0.35));
  z-index: 1;
}

.part{
  padding: 11px;
  background-color: rgb(0, 0, 0,0);
  color: white;
}

.partdt{
  display: flex;
  flex-direction: column;
  flex-wrap: none;
}

.part h1{
  font-size: 50px;
  background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, #00EBEE), color-stop(1, #F9FF00));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.part h2{
    font-size: 32px;
    padding-left: 15px ;
}

.marked-btn1{
  color: black;
  width: 100px;
  height: 30px;
  margin-left: 560%;
  background-image: linear-gradient(to right,#F9FF00,#00EBEE);
  border-radius: 30px;
  border: none;
  position:relative;
  box-shadow: 0px 0px 0px 0px #F9FF00;
}

.marked-btn1:hover{
  color: black;
  transition: 900ms;
  background-image: linear-gradient(to left,#F9FF00,#00EBEE);
  box-shadow: 0px 0px 10px 5px rgb(153, 255, 0) ;
}

.mark-btn1 {
  color: black;
  width: 100px;
  height: 30px;
  margin-left: 560%;
  background: linear-gradient(to right,#00EBEE,#ffffff);
  border-radius: 30px;
  margin-right: -8%;
  vertical-align: bottom;

}

.mark-btn1:hover{
  /* color: black;
  background: transparent;
  box-shadow: 0px 0px 10px 5px rgb(153, 255, 0) ; */
  color: black;
  margin-left: 560%;
  transition: 900ms;
  background-image: linear-gradient(to left,#00EBEE,#ffffff);
  box-shadow: 0px 0px 10px 5px #00EBEE ;
}
